.col-md-6.mx-auto
  %h1.py-2.text-center
    New Document
  = render 'form', document: @document
  %hr
  .text-right
    = link_to 'Back to Index', documents_path, role: "button", class: "btn btn-link"
