.col-md-6.mx-auto
  %h2.py-2.text-center
    New NewsCategory
  = render 'form', news_category: @news_category
  %hr
  .text-right
    = link_to 'Back to Index', news_categories_path, role: "button", class: "btn btn-link"
